body{font-family: Mont, Helvatica, sans-serif; overflow-x: hidden;}

/* header */
header{display: block; width: 100%; position: fixed; top: 0px; left: 0px; z-index: 100; transition: background-color 0.5s; background-color: rgba(255,255,255,0); height: 130px;}
header .headerWrap{width: 1600px; margin: 0 auto;}
header ul{float: left; margin-top: 50px; width: 1600px;}
header .headerWrap>ul>li{float: left; margin-left: 60px;}
header .headerWrap>ul>li a{display: block; padding: 10px 20px; color: #1a1a1c; letter-spacing: 8px;}
header .headerWrap>ul>li.title{margin-left: 150px;}
header .headerWrap>ul>li.title h1{text-align: center; letter-spacing: 3px; font-family: Abril; font-size: 3em; margin-top: -20px;}
header .headerWrap>ul>li.searchArea{float: right;}
header .headerWrap>ul>li.searchArea input#search{background-color: inherit; border: 0; box-sizing:border-box; margin-right: 20px; height: 33px; width: 0px; width: 250px; border-bottom: 2px solid rgba(70,70,70,0); transition: all 0.5s;}
header .headerWrap>ul>li.searchArea input.searchBtn{width: 50px; height: 50px; background: url(../img/search.png) no-repeat left top; background-size: contain; border: 0; margin-top: -20px; cursor: pointer;}

/* header nav */
header nav{display: block; width: 40px; position: relative; overflow: visible;}
header nav button{display: block; width: 40px; height: 40px; border: 0; cursor: pointer; padding: 0; background-color: inherit;}
header nav ul#menu{display: block; width: 165px; position: absolute;  opacity: 0; display: none;left: -80px; top: 0px; transition: opacity 0.4s;}
header nav ul#menu li a{display: block; width: 100%; height: 40px; text-align: center; line-height: 40px; color: #ededed;  background-color: rgba(10,10,10,0.7); letter-spacing: 2.5px; font-family: Mont; transition: background-color, color, 0.3s;}
header nav ul#menu li a:hover{color: #ffffff;  background-color: rgba(10,10,10,0.8);}

/* section */
section{width: 100%;}
section #mainContent{width: 1600px; height: 700px; margin: 100px auto 0px; position: relative;}
section #mainContent .box1_1{width: 100%; height: 100%; position: absolute; background-color: #c4dcdc; top: -45%; right: -70%; z-index: 1;}
/* lnb */
#mainContent .lnb {width: 165px; position: absolute; top: 70px; z-index: 3;}
#mainContent .lnb .sns{width: 165px;}
#mainContent .lnb .sns li{display: block; width: 165px; height: 40px; text-align: center; margin-top: 20px;}
#mainContent .lnb .sns li a{width: 50px; height: 50px; text-align: center;}
/* left design elements & slide index */
#mainContent .snsLine{width: 3px; height: 100px; background-color: #1a191e; position: absolute; top: 320px; left: 80px;}
#mainContent span.leftSlideIndex{display: block; position: absolute; transform: rotate(-90deg); top: 450px; left: 65px; font-family: Open-sans; font-size: 2em;}
/* main slide */
section #mainContent #mainSlide{width: 100%; height: 100%; position: absolute; z-index: 2; position: relative;}
section #mainContent #mainSlide a{display: block; width: 250px; height: 80px; background-color: #b5d3d3; bottom: 0px; left: 50px; position: absolute; color: #ffffff; text-align: center; line-height: 80px; font-family: Mont; font-size: 0.9em; letter-spacing: 1px; transition: background-color 0.5s;}
section #mainContent #mainSlide .slideToggle{display: block; width: 80px; height: 80px; background-color: #b5d3d3; bottom: 0px; left: 300px; position: absolute; background: url(../img/pause-button.png) no-repeat center center; background-size: 50px; background-color: #ffffff; border: 0px; z-index: 9; cursor: pointer;}
section #mainContent #mainSlide .lineForDesign{width: 190px; height: 4px; background-color: #ffffff; position: absolute; left: 540px; top: 460px;}
section #mainContent #mainSlide .mainBox{width: 1000px; height:600px; position: absolute; top: 100px; left: 50%; margin-left: -500px; background-color: #ced2d3;}
section #mainContent #mainSlide .mainSlide li{width: 1000px; height:600px; position: absolute; top: 100px; left: 50%; margin-left: -500px; display: none; transition: all 0.5s; opacity: 0;}
section #mainContent #mainSlide .mainSlide li h2{font-family: Open-sans; font-size: 5em; position: absolute; top: 20%; left: -6%; font-weight: normal; color: #212121;}
section #mainContent #mainSlide .mainSlide li h3{font-family: Open-sans; font-size: 1em; position: absolute; top: 55%; left: -6%; font-weight: normal; color: #212121;}
section #mainContent #mainSlide .mainSlide li img{position: absolute; bottom: 0;}
section #mainContent #mainSlide .mainSlide li:first-child img{right: 10px;}
section #mainContent #mainSlide .mainSlide li.active{display: block; opacity: 1;}
/* main slide navigator */
#mainSlide .slideNav{width: 400px; height: 300px; position: absolute; top: 450px; right: -150px;}
#mainSlide .slideNav ul li{margin-top: 40px; position: relative;}
#mainSlide .slideNav ul li button{background-color: inherit; border: 0; font-family: Mont; font-size: 1em; letter-spacing: 4px; color: #a7a6aa; cursor: pointer;}
#mainSlide .slideNav ul li.on button{color: #232323;}
#mainSlide .slideNav ul li.on .activeLine{width: 130px; height: 2px; background-color: #232323; position: relative; left: 50px; top: -10px; transition: all 0.5s;}
#mainSlide>.slideNav>ul>li>div{width: 0px; height: 2px; background-color: #232323; position: relative; left: 50px; top: -10px; transition: all 0.5s;}

/**** MainSlide Ends ****/

/**** Tab Menu Start ****/
/* Tab Menu */
#tabGrid{width: 1600px; margin: 60px auto 0;}
#tabGrid .tabMenu{display: block; width: 600px; height: 70px; margin: 0 auto;}
#tabGrid .tabMenu li{display: block; float: left; width: 150px; height: 70px;}
#tabGrid .tabMenu li button{background-color: inherit; border: 0; font-family: Mont; font-size: 0.9em; letter-spacing: 2px; width: 100%; height: 60px; line-height: 60px; color: #343434;}
#tabGrid .tabMenu li.active button{color: #212121;}
#tabGrid .activeLine{width: 150px; height: 3px; background-color: #000000; margin-left: 500px; transition: margin-left 0.4s;}
#tabGrid .modelListBox{width: 1400px; height: 500px; margin: 35px auto 0 auto;}
#tabGrid .modelListBox>img{display: block; margin: 0 auto; position: relative; left: 50%; margin-left: -181px; top: -500px;}
#tabGrid .modelListBox .modelList{width: 1400px; margin: 0 auto; height: 500px; position: relative; }
#tabGrid .modelListBox .modelList li{display: block; width: 350px; height: 500px; float: left; overflow: hidden;}
#tabGrid .modelListBox .modelList li a{display: block; width: 100%; height: 100%; position: relative;}
#tabGrid .modelListBox .modelList li a>img{position: absolute; left: 0; top: 0; z-index: 3;}
#tabGrid .modelListBox .modelList li a>div{position: absolute; left: 0; top: 0; z-index: 4; opacity: 0; width: 100%; height: 100%; background-color: rgba(10,10,10,0.5);}
#tabGrid .modelListBox .modelList li a>div>img{margin-left: 270px; margin-top: 30px;}
#tabGrid .modelListBox .modelList li a>div>h3{margin-top: 40px; text-align: center; color: #ffffff; font-size: 1.05em; font-family: Mont;}
#tabGrid .modelListBox .modelList li a:hover div{opacity: 1;}
#tabGrid .modelListBox button{clear: both; display: block; width: 200px; height: 50px; margin: 40px auto 0px auto; border: 0; background-color: #222222; color: #ffffff; font-family: Mont; font-size: 0.8em; border-radius: 50px; letter-spacing: 3px; position: relative; top: -530px;}



/* footer */
footer{width: 1600px; height: 800px; background-color: red;}

/**** Tab Menu Ends ****/

/* define fonts */
@font-face{
	src: url("../fonts/Montserrat-Medium.ttf");
	font-family: Mont;
}
@font-face{
	src: url("../fonts/AbrilFatface-Regular.ttf");
	font-family: Abril;
}
@font-face{
	src: url("../fonts/OpenSans-Regular.ttf");
	font-family: Open-sans;
}
